
/* Navbar container */
.navbar {
  overflow: hidden;
  width:100%;
  margin:auto;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color:blue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:slategrey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}


/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    
  }
  
    
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4aaaa5;
    text-align: center;
  }
  
    
/* ----descriptionSTART---- */
  #description-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;
  }
  /* ----IMAGE NAV START---- */
  #visual-area {
    width: 100%;

  /* Box-model */
    padding: 30px 30px 43px;

  /* Positioning */
    margin-top: 32px;

  /* Visual */
    background-color: #fff;
  }

  .imageNav-header {
    /* Positioning */
    margin-bottom: 15px;
    font-family: Georgia, Times, "Times New Roman", serif;

    /* Typography */
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
  }

  .imageNav-photo {
    width: 160px;

    /* Box-model */
    height: 160px;
  }

  .imageNav-photo:hover {
   /* Visuals */
    opacity: 0.6;
  }

  .imageNav-photo.active {
    /* Visuals */
    border: 2px solid #4aaaa5;
  }

  #images {
    /* Box-model */
    padding-top: 15px;

    /* Typography */
    text-align: center;
  }

  /* ----IMAGE NAV END---- */

/* ----COMPARISON START---- */
.comparison-image:hover {
  opacity: 0.6;
}

.comparison-header {
  /* Positioning */
  margin-bottom: 20px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 20px;
  font-weight: bold;
  color: #4aaaa5;
  text-align: center;
}

/* ----COMPARISON END---- */


